.nav{
  display: flex;
  flex-direction: row;
  height: 10px;
  width: 100%;
  justify-content: space-evenly;

}
.nav-bar{
  display: flex;
  flex-direction: row;
}
.nav{
  display: flex;
  height: 8vh;
  background-color: white !important;
  justify-content: space-between;
  border-bottom: 5px solid black !important;
}